body {
    text-align: center;
    font-family: 'Rowdies', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

.game-over {
    background-color: tomato;
}

button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: rgba(255, 255, 255, 0)
}

h1 {
    font-size: 4vw;
}

.circle img {
    width: 30%;
}

button img {
    width: 12vw;
}

.green {
    position: absolute;
    top: 12.5vw;
    left: 36.5vw;
}

.red {
    position: absolute;
    top: 12.5vw;
    right: 36.5vw;
}

.yellow {
    position: absolute;
    top: 25.5vw;
    left: 36.5vw;
}

.blue {
    position: absolute;
    top: 25.5vw;
    right: 36.5vw;
}

footer {
    margin-top: 2vw;
}

@media (max-width: 600px) {
    .green {
        position: absolute;
        top: 12vw;
        left: 36.5vw;
    }
    
    .red {
        position: absolute;
        top: 12vw;
        right: 36.5vw;
    }
  }